<form action="" class="registration__form form">
    {{> components/form-input/form-input for='email' label='Email' type='text' name='email' attributes='autofocus' }}
    {{> components/form-input/form-input for='login' label='Login' type='text' name='login' }}
    {{> components/form-input/form-input for='first_name' label='First Name' type='text' name='first_name' }}
    {{> components/form-input/form-input for='second_name' label='Second Name' type='text' name='second_name' }}
    {{> components/form-input/form-input for='phone' label='Phone number' type='text' name='phone' }}
    {{> components/form-input/form-input for='password' label='Password' type='password' name='password' }}
    {{> components/form-input/form-input for='password_repeat' label='Repeat password' type='password' name='password_repeat' }}
    {{> components/button/button button-text='Register' }}
</form>
