.registration {
  background-color: $main-bg-color;
  height: 100vh;
  @include flex-column-center;

  &__wrapper {
    @include wrapper-width($sm);
    @include flex-column-center
  }

  &__title {
    font-size: 28px;
    color: $light-text-color;
    font-weight: 600;
    margin-bottom: 26px;
    text-align: center;
  }
}