<form action="" class="authorization__form form">
    {{> components/form-input/form-input for='name' label='Login' type='text' name='name' attributes='autofocus' }}
    {{> components/form-input/form-input for='password' label='Password' type='password' name='password' }}
    {{> components/button/button button-text='Sign in' }}
    <a href="./partials/pages/registration/registration.hbs" class="form__register-link">Sign up</a>
</form>
