<form action="" class="authorization__form form">
    {{{ loginInput }}}
    {{{ passwordInput }}}
    {{{ buttonSignIn }}}
    <a href="../../registration.html" class="form__register-link">Sign up</a>
</form>
