@import "constants";
@import "mixins";
@import "fonts";
@import 'pages/authorization/authorization';
@import "pages/registration/registration";
@import "pages/profile/profile";
@import "pages/chat/chat";
@import "pages/error404/error404";
@import "pages/error500/error500";
@import "components/authorization-form/authorization-form";
@import "components/button/button";
@import "components/form-input/form-input";
@import "components/registration-form/registration-form";
@import "components/profile-form/profile-form";
@import "components/chat-list/chat-list";
@import "components/chat-label/chat-label";
@import "components/messages/messages";
@import "components/message/message";

* {
  font-family: "SF Pro", "Roboto", sans-serif;
  box-sizing: border-box;
  font-weight: 500;
}

body {
  margin: 0;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;

  &__item {
    margin: 0 5px;
  }

  &__link {
    text-decoration: none;
    color: $contrast-color;
  }
}
