<div class="chat-list__header">
    <div class="chat-list__profile-photo"></div>
    <a href="../profile/profile.hbs" class="chat-list__profile-name">My Name</a>
</div>
<div class="chat-list__wrapper">
    {{{ chatLabel }}}
    {{{ chatLabel2 }}}
    {{{ chatLabel3 }}}
    <label for="search" class="chat-list__search">
        <input type="text" class="chat-list__search-input" name="search" id="search"></input>
    </label>
</div>
