<form action="" class="profile__form form">
    <label for="avatar" class="profile__avatar-label">
        <input type="file" name="avatar" class="profile__avatar-input" id="avatar">
    </label>
    {{> components/form-input/form-input for='email' label='Email' type='text' name='email' attributes='disabled' }}
    {{> components/form-input/form-input for='login' label='Login' type='text' name='login' attributes='disabled' }}
    {{> components/form-input/form-input for='display_name' label='Display name' type='text' name='display_name' }}
    {{> components/form-input/form-input for='first_name' label='First Name' type='text' name='first_name' attributes='disabled' }}
    {{> components/form-input/form-input for='second_name' label='Second Name' type='text' name='second_name' attributes='disabled' }}
    {{> components/form-input/form-input for='phone' label='Phone number' type='text' name='phone' attributes='disabled' }}
    <a href="" class="form__register-link">Change password</a>
    <a href="" class="form__register-link">Change data</a>
    <a href="/" class="form__register-link">Exit</a>
</form>
